In [1]:
#purpose of the program is to create a database using tuples and list.

#Student data in database created using list and tuples

database=[('Zaid yousuf', 1, 'Zaid@gmail.com', 'male', '8/17/07', 'jammu', '5th', 'A2', 1234567890), ('Devi laal', 2, 'devi@gmail.com', 'male', '8/24/07', 'jammu', '2nd', 'A1', 9732145321), ('Rahul verma', 3, 'Rahul@gmail.com', 'male', '4/17/07', 'delhi', '3rd', 'A1', 9563456728), ('Ikjot singh', 4, 'ikjot@gmail.com', 'male', '4/5/07', 'delhi', '6th', 'A1', 9287654320)]

def querying():
    print("Getting available information of student in database:\n")
    for idx,element in enumerate(database):
        print(f"name:{database[idx][0]}")
        print(f"rollno:{database[idx][1]}")
        print(f"email:{database[idx][2]}")
        print(f"gender:{database[idx][3]}")
        print(f"d.o.b:{database[idx][4]}")
        print(f"address:{database[idx][5]}")
        print(f"semester:{database[idx][6]}")
        print(f"section:{database[idx][7]}")
        print(f"phono:{database[idx][8]}\n")

querying()

Getting available information of student in database:

name:Zaid yousuf
rollno:1
email:Zaid@gmail.com
gender:male
d.o.b:8/17/07
address:jammu
semester:5th
section:A2
phono:1234567890

name:Devi laal
rollno:2
email:devi@gmail.com
gender:male
d.o.b:8/24/07
address:jammu
semester:2nd
section:A1
phono:9732145321

name:Rahul verma
rollno:3
email:Rahul@gmail.com
gender:male
d.o.b:4/17/07
address:delhi
semester:3rd
section:A1
phono:9563456728

name:Ikjot singh
rollno:4
email:ikjot@gmail.com
gender:male
d.o.b:4/5/07
address:delhi
semester:6th
section:A1
phono:9287654320